{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CHIRPER DAY 2</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
      body {
        background-color: green;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-nav">
      <li><a class="navbar-brand" href="#">Home Page</li>
        <li><a href="{% url 'about_view' %}">About Me</a></li>
          <li><a href="{% url 'chirp_create_view' %}">Create Chirp Page</a></li>
        <img alt="Brand" src="...">
      </a>
    </div>
  </div>
</nav>

      <div class="container">
        <a href="{% url 'chirp_view' %}">My Home</a>


        {% if not request.user.is_authenticated %}
        <a href="{% url 'user_create_view' %}">Create User</a>
          <a href="{% url 'login' %}">login</a>
          {% else %}
          <a href="{% url 'logout' %}?next={% url 'login' %}">logout</a>
          {% endif %}


        {% block content %}
        {% endblock %}
      </div>

  </body>
</html>
