<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chirper</title>
    <style media="screen">


      .purple_text {
        color: purple
      }

      .sans_serif {
        font-family: sans-serif;
      }
      .purple_main_header {
        font-family: sans-serif;
        color: rgba(128, 0, 95, 0.5)
      }

    </style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>

      <div class="container">
        <h1 class="sans_serif">Welcome to JOELS site</h1>

        <h2>alittlesmaller</h2>
        <h6 class="purple_main_header">Header</h3>
          <p>
            ksddf
          </p>

          <a href="{% url 'favorites_view' %}">how long can a link extend anyway</a>

            <div class="purple_text sans_serif">
              Purple

            </div>

      </div>


  </body>
</html>
